@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter, sans-serif;
    min-height: 100vh;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.container {
    /* max-width: 1200px; */
    width: min(100%, 1200px);
    margin: 0 auto;

    & .background-top{
        background-color: rgb(239, 150, 61);
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 500px;
        top: 0;
        right: 0;
        z-index: -1;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 4px;
        transform-origin: bottom left;
        transform: skewY(-10deg);
    }
}

header{
    margin: auto;
}

header .about__section{
    display: flex;
    padding: 28px;
    position: relative;
}

.about__img{
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.248) 6px 6px 6px 0.04px;
    & img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.4);
        transform-origin: center;
        object-position: top 0 right 40px;
        transition: transform 0.4s ease-in-out, object-position 0.4s ease-in-out;
    }

    &:hover img{
        transform: scale(2);
        object-position: top 40px right 80px;
    }
    flex: 1 1 40%;
}


.about{
    margin: 48px 0;
    flex: 1 1 80%;
    height: 100%;
    background-color: #fff;
}


.about__name{
    position: absolute;
    bottom: 28px;
    left: 25%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: #fff;
    text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.653);
}
.about{
    flex: 1 1 45%;
    box-shadow: rgba(0, 0, 0, 0.598) 4px 6px 8px 2px;
    padding: 32px 24px 24px 20px;
    & h2{
        font-size: 2rem;
    }

    & p{
        margin: 20px 0 16px 0;
        color: #000000a6;
    }
}

.about__social-list{
    display: flex;
    gap: 12px;
    justify-content: end;
}

.about__social-item{
    display: inline-block;
    font-size: 1.4rem;
}

/* work section */

.list__section{
    margin: 120px 0;
    & h2{
        margin: 0 0 12px 28px;
        font-size: 2.4rem;
    }
}

.project__list{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin: 0 28px;
}

.project__item{
    flex: 1 1 calc(100% / 4);
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.405) 2px 2px 8px 2px;
    & img{
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: top -60px left 0;
        
    }
}

.project__item--data{
    padding: 16px 22px;
}

.project__item--name{
    font-size: 1.4rem;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > * {
        display: block;
        &:last-child{
            cursor: pointer;
        }
    }
}

.project__item--desc{
    color: rgb(151, 143, 143);
}

footer{
    padding: 32px 0;
    background-color: rgb(222, 137, 52);
    width: 100%;
}

.inner__footer{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    gap: 12px;
}

.contact{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px;
    flex: 50%;
    margin-left: 28px;
}

.contact .contact-info{
    display: flex;
    align-items:center ;
    & span i {
        font-size: 2rem;
    }

    & p{
        margin-left: 10px;
    }
}

.image_avatar{
    /* height: 100%; */
    margin-right: 28px;
    width: min(100% - 20px, 200px);
    flex: 60%;
    & img{
        aspect-ratio: 4 / 3;
        object-fit: cover;
        width: 100%;
        object-position: top -120px left 0;
    }
}

.social-footer{
    margin-top: -20px;
    justify-content: flex-start;
    & > * {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 960px) and (min-width: 650px){
    .project__item{
        flex: 1 1 calc(100% / 3);
    }

    header .about__section{

        display: block;

        & .about{
            width: min(100% - 20px, 600px);
            margin: 120px auto 0;

            & h2{
                text-align: center;
            }

            border-radius: 12px;
        }
        
        & .about__img{
            float: left;
            width: 380px;
            height: 380px;
            margin-right: 16px;
            margin-left: 28px;

            & img{
                transform: scale(1.5);
            }

            &:hover img{
               transform: scale(2.2);
               object-position: top 40px right 40px;
            }
            
        }

        & h1{
                top: 12px;
                left: 60%;
                font-size: 8rem;
        }

    }
}

@media only screen and (max-width: 650px){
    .project__item{
        flex: 1 0 100%;
    }

    .about__img{
        & img {
            transform: scale(1.5);
            object-position: top 30px right 30px;

            &:hover{
                transform: scale(2);
                object-position: top 40px right 26px;;
            }
        }

    }

    .about__name{
        bottom: 60%;
        left: 50%;
        
    }

    .about__name{
        font-size: 8rem;
    }

    header .about__section{
        display: block;
    }

    .about__section .about__img{
        width: 100%;
        height: 640px;
    }

    .about__section .about{
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .list__section{
        margin: 80px 0 160px 0;
    }


    footer{
        padding-bottom: 0;
    }
    footer .inner__footer{
        display: block;
    }

    .inner__footer .contact{
        margin: 0 28px;
    }

    .inner__footer .image_avatar{
        display: flex;
        margin: 16px 0 0 0;
        width: 100%;
        & img{
            height: 100%;
            aspect-ratio: unset;
            object-position: unset;
        }
    }

    .about__social-item{
        font-size: 2.4rem;
    }
}

.round__edge{
    border-radius: 12px;
}

.round__right-edge{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 0;
}